{% extends 'index_main.html' %}
{% block title%} Reset {% endblock title%}

{% block body_content %}
<div class="cont mt-5" style="margin-top: 100px;">
    <div class="row">
        <div class="way col-md-6 col-lg-6 col-xxl-6 col-sm-12 col-xm-12">
            <span class="date text-pink text-size-30px mt-5">Enter your email address below and we'll email instructions for resetting a new password</span>
            <form action="" method="post" class="mt-4">
                {% csrf_token %}    <!-- Form security -->
                {% load bootstrap %}
                {{form|bootstrap}}
                <div class="d-flex justify-content-center">
                    <input type="submit" value="Send email" class="bc-white mt-2 ml-2 loginbutton">
                </div>
            </form>
        </div>
        <div class="col-md-6 col-lg-6 col-xxl-6 col-sm-12 col-xm-12">
            <h1></h1>
        </div>
    </div>
</div>
{% endblock body_content %}